* {
  box-sizing: border-box;
}
.header-container {
  max-width: 900px;
  margin: 40px auto;
}
.container {
  display: flex;
  max-width: 900px;
  margin: 40px auto;
}
.left-side{
  flex: 1;
  margin-right: 40px;
}
.left-side h1 {
  margin: 0;
  color: #3A4B5C;
}
.left-side p {
  font-size: 16px;
  margin-bottom: 40px;
  color: #6A7D8B;
}
.left-side input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #6A7D8B50;
  padding: 10px 2px;
  margin-bottom: 20px;
  font-size: 14px;
  outline: 0;
}
.left-side button {
  background-color: #227C9D;
  color: #FFF;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  padding: 15px 0;
  width: 100%;
  cursor: pointer;
  margin-top: 40px;
  transition: all ease 0.3s;
}
.left-side button:hover {
  opacity: 0.8;
}


.right-side {
  flex: 1;
  margin-left: 40px;
  display: flex;

}
.right-side .grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}